body {
    font-family: Arial;
    padding: 20px;
    background: #f3f3f3;
}

/* NAVBAR */
.navbar {
    background: #222;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: #1a1a1a;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
}

